// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|       CONTENU CDI                       |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.contenu-actu{order:1;}
    #colonne-2.contenu-actu{order:2;}
    #colonne-3.contenu-actu{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
    @include breakpoint ($desktop){
        #colonne-2.contenu-actu{
            @include border-vert-violet;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
#colonne-1.admin_content{

    h2{
        color: $rose-fushia;
        font-family: $AristaFont;
        text-align: center;
        margin: 0.5em;
    }
    h3{
        color: $bleu-turquoise;
    }
}
.liste-doc-admin {
    margin: 1em 0;
    table{width: 90%;margin: 0 auto;}
    thead th{border-bottom:em(2px) solid $vert;}
    tr{background: transparent;}
    td{background: transparent;border-bottom: em(1px) solid $violet;padding: 1em 0;}
    a{color: $rose-fushia;
    &:hover{color: $gris-anthracite;}
    }
}