// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|         CUSTOM NODE.TPL        |
|       CONTENU ENTREPRISE       |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur .conteneur-flexchild
{
    #colonne-1.contenu_entreprise{order:3;}
    #colonne-2.contenu_entreprise{order:1;}
    #colonne-3.contenu_entreprise{order:2;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.contenu_entreprise{
            @include border-L-bleu;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/

h1.titre_entreprise_content{
    color: $orange-fonce;
    font-family: $FontArvo;
}
h3.docs-entreprise{
    color: $vert;
    text-align: center;
}
.bloc-docs-entreprise{
    width: auto;
    background: $gris-clair;
    padding: em(10px);
    a{
    text-decoration: none;
    color: $bleu-turquoise;
    padding: em(4px);
    &:hover{
    background: $bleu-turquoise;
    color: white;
}
}
table.table-docs-entreprise{
    tbody{
        border: 0;
    }
    tr{
        border: 0;
    }
    td{}
}
}


.bloc-video-entreprise{
    width: auto;
    margin: 0 auto;
    @include cadre-ombre(0.3em,white,$gris-anthracite);
}

/*--- AJUSTEMENT GALERIE CHOCOLAT ---*/
#colonne-1.contenu_entreprise{
    .galerie-vdl .chocolat-parent{
      
        >div{
            padding: 0 0.5em;
        }
        a{
            margin: 0.5em;
        }
        img{
            @include cadre-ombre(0.13em,white,$gris-anthracite);
            }
    }
}
