// Regroupe le style pour le contenu des node.tpl custom
// Concerne toutes les pages qui créer du contenu :
// Sortie, Projet, APE, Entreprise, Innonvations, Intervenant

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.contenu-vdl{order:1;}
    #colonne-2.contenu-vdl{order:2;}
    #colonne-3.contenu-vdl{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-1.contenu-vdl{
            @include border-R-vert;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre-vdl{
    color: $violet;
  
}
#colonne-2.contenu-vdl{
    clear:both;
     @include breakpoint ($desktop){
          clear:none;
        }
    a{
     //   color: $violet;
      //  text-decoration: none;
        &:hover{
           // text-decoration: underline;
        }
    }
}
  /* ILLUSTRATION DANS CONTENU */
  #bloc_illustration_vdl{
      margin: em(5px);
          
      img{
          @include cadre-ombre(0.003em,white,$gris-anthracite);
          @include breakpoint ($desktop){
              float: right;
              margin: 8em 1em;
              @include cadre-ombre(0.3em,white,$gris-anthracite);
              //habillage de texte avec shape-outisde (CSS)
              @include forme-habillage(inset(23% 0%));
          }

      }
  }
  
  /*Pour images insérées via l'editeur WYSIWYG*/
  #colonne-1.contenu-vdl{
      img,img.illustration-vdl{
          @include cadre-ombre(0.003em,white,$gris-anthracite);
          @include breakpoint ($desktop){
              @include cadre-ombre(0.3em,white,$gris-anthracite);
              //habillage de texte avec shape-outisde (CSS)
              @include forme-habillage(inset(0%));
              float: left;
              margin: 1em;
          }
      }
  }
/*---- AUTRES EVENEMENTS VDL ------*/
#bloc_vdl_autres_evenements{
    h3{
        text-align: center;
        color: $vert;
        font-family: $AristaFont;
        font-size: larger;
        margin: em(5px);
    }
    ul{
        width: 90%;
        margin: 0 auto;
        background: transparent url(../images/bg_caucadis_actu.jpg) no-repeat top right ;
        background-size: cover;
        padding: em(10px) em(5px);
        list-style: none;
        @include arrondis;
    }
    li{
        padding: em(3px) 0;
        margin: 0;
    }
    a{
        color:  $gris-anthracite;
        background: $gris-clair;
        display: block;
        font-weight: bold;
        text-decoration: none;
        padding: em(2px);
        line-height: 1.5em;
        &:hover{
            background: $gris-clair-moyen;
            color: white;
        }
    }
}

.bloc_vdl_autres_evenements-item{
    width: auto;
    margin: em(2px) 0;

    a{
        @include arrondis(em(5px));
    }
}


.liste-autre-evenement{
    li{
        display: block;
        a{
            font-weight: bold;
            text-decoration: none;
            padding: em(3px);
            margin: em(2px);
            color:  $gris-anthracite;
            background: white;
            font-size: smaller;
            @include arrondis;
            
            &:hover{
                background: $bleu-turquoise;
                color: white;
            }
        }
    }

}



#bloc_docs_utiles_vdl{
   
    table{
        width: 90%;
         margin: 0 auto;
        background: transparent url(../images/bg_docs_utiles_lycee.jpg) no-repeat ;
        background-size: cover;
    }
    thead{
        display: none;
    }
    tbody{
        border: 0;
    }
    tr{
        background: none;
        border: 0;
        padding: 0;
    }
    h3{
        text-align: center;
        color: $bleu-turquoise;
        font-family: $AristaFont;
        font-size: larger;
        margin: em(5px);

    }
}

.liste_docs_joints_vdl {
    width: 98%;
    margin: 0 auto;
    padding: em(10px) em(5px);
    list-style: none;
    
    div{
        margin: em(5px) 0;
    }

    span{
        margin: em(2px) 0;
    }

    a{
        font-weight: bold;
        text-decoration: none;
        padding:em(3px);
        color:  $gris-anthracite;
        background: white;
        @include arrondis(5px);
        &:hover{
            text-decoration: none;
            background: $gris-clair;

        }
    }

    .filefield-icon {
        display: none;
    }
}