// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|       FICHE FORMATION               |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

//Consulter js_jquery_new.js pour controler le retrait de la taille des images produites par PHP 
// inscrite dans le code HTML

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    .illustration-slider{order:2;}
    .intro-fiche-formation{order:1;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){
        .illustration-slider{order:1;}
        .intro-fiche-formation{order:2;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-1.fiche-formation{}
        #colonne-2.fiche-formation{@include border-L-rose;}
        
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
.titre_fiche-formation{
    width: auto;
    text-shadow: 1px 1px 2px $gris-clair;
    filter: dropshadow(color=$gris-clair, offx=1, offy=1);
}
.titre-gris{color:$gris-anthracite;}
.titre-sup{color: $violet;}
.titre-pro{color: $vert;}
.titre-techno{color: $bleu-turquoise;}

#colonne-1.fiche-formation{
  
}


.fiche-formation{
    p{
        line-height: 1.5em;
        padding: 0.325em;
        margin: 0;
    }
    h2{
        font-size: inherit;
        padding: em(3px);
        line-height: 1.5em;
    }
    h3{
        font-size: small;
       
        padding: em(2px);
    }
    ul li{
        padding: em(2px);
        list-style: square inside none;
        line-height: 1;
    }
    .diapo_fiche{
        margin: em(5px) 0;
        padding: 0;
        
        img{
            border: em(1px) solid $vert;
            padding: em(2px);
            zoom: 0.97;
            margin: 0 auto;
            display: block;
        }
    }
}

.views-field-field-complement-info-formation-value{text-align: center;margin: 0 auto;width: auto;}

.entete-fiche-formation{
    margin: 0 auto;
    //width: 990px;
}

.intro-fiche-formation{
    padding: em(20px) em(10px);
    h2{
        display: block;
        width: 80%;
        margin: 0;
        padding: 0;
    }
    p{
        padding: em(2px);
        width: auto;
        display: block;
    }
    ul{
        padding: em(2px);
        width: auto;
        display: block;
    }
}

.illustration-slider{
    margin: 0;
    padding: 0;
  
}
#slider-fiche {
    padding: 0;
    img{
        @include arrondis(5px);
        @include ombrage-bloc;
        margin: 0 auto;
    display: block;
    }
}

hr.fin-entete-fiche{
    border: 2px;
    height: 1px;
    margin: 0 auto;
    width: 95%;
   
}
/*Bloc documents utiles*/
.docs-utiles-fiche-formation{
    
}
.docs-utiles-fiche-formation h3{
    font-size: 18px;
    font-family: arista,Trebuchet MS, sans-serif;
    color: $rose-fushia;
    margin: 5px 0;
     text-align: center;
}
.view-Documents-utiles-fiche-formation{
    
}
table#tb-docs-utiles-fiche-formation {
    background: transparent url('../images/bg_doc_utile_ficheform.jpg') no-repeat top left;
    background-size: cover;
    margin: 0 auto;
    padding: em(15px) em(5px) em(5px);
    width: auto;
    display: block;
    list-style: none;
}
#tb-docs-utiles-fiche-formation{
    tbody{}
    tr{
        width: auto;
        text-align: center;
    }
    td{
        width: auto;
        text-align: center;
    }
    a{
        color: $gris-anthracite;
        display: block;
        margin: 5px 0;
        text-align: center;
        text-decoration: none;
        width: auto;
        @include arrondis(5px);
        display: block;
        &:hover {
            background: white;
        }
    }
    .filefield-icon {
        display: none;
    }
}

/* Fiche formation generik*/
/* Style de base pour fiche non tagguée ou sans tpl spécifique*/
.fiche-formation-generik{
    background: transparent url('../images/bg_titre_fiche_gris.jpg') no-repeat top left;
    background-size: initial;
}
.fiche-formation-generik h2{
    color: $gris-clair-moyen;
    padding: em(2px);
    width: 80%;
}
.fiche-formation-generik h3{

}
.fiche-formation-generik p{
    padding: em(2px);
}
.fiche-formation-generik a{

}
.fiche-formation-generik a:hover{

}
.fiche-formation-generik ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: 5px;
}
.fiche-formation-generik li{
    color: $gris-anthracite;
}
hr.fiche-formation-generik{
    background: $bleu-turquoise;
}
/*Fiche formation pro*/
.fiche-formation-pro-bg{
    background: transparent url('../images/bg_titre_fiche_pro.jpg') no-repeat top left;
    background-size: initial;
}
.fiche-formation-pro h2{
    color: $vert;
    padding: em(2px);
    
}
.fiche-formation-pro h3{

}
.fiche-formation-pro p{
    padding: em(2px);
}
.fiche-formation-pro a{

}
.fiche-formation-pro a:hover{

}
.fiche-formation-pro ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: em(5px);
}
.fiche-formation-pro li{
    color: $gris-anthracite;
}
hr.fiche-formation-pro{
    background: $vert;
}
/*Fiche formation techno*/
.fiche-formation-techno-bg{
    background: transparent url('../images/bg_titre_fiche_techno.jpg') no-repeat top left;
    background-size: initial;
}
.fiche-formation-techno h2{
    color: $bleu-turquoise;
     padding: em(2px);
}
.fiche-formation-techno h3{
      color: $bleu-turquoise;
     padding: em(2px);
}
.fiche-formation-techno p{
     padding: em(2px);
}
.fiche-formation-techno a{
    color: $bleu-turquoise;
     padding:  0 2px;
     text-decoration: none;
}
.fiche-formation-techno a:hover{
    color: black;
    background: $bleu-turquoise;
}
hr.fiche-formation-techno{
    background: $bleu-turquoise;
}
.fiche-formation-techno ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: 5px;
}
.fiche-formation-techno li{
    color: $gris-anthracite;
}
/*Fiche formation supérieur*/
.fiche-formation-superieur-bg{
    background: transparent url('../images/bg_titre_fiche_superieur.jpg') no-repeat top left;
    background-size: initial;
}


.fiche-formation-superieur h2{
     color: $rose-fushia;
    padding: em(2px);
}
.fiche-formation-superieur h3{

}
.fiche-formation-superieur a{

}
.fiche-formation-superieur a:hover{

}
hr.fiche-formation-superieur{
    background: $violet;
}
.fiche-formation-superieur p{
    padding: em(2px);
    color: $gris-anthracite;
}
.fiche-formation-superieur ul{
    list-style-position: inside;
    list-style-type: circle;
     padding: 5px;
}
.fiche-formation-superieur li{
    color: $gris-anthracite;
}

#colonne-fiche-formation{
    background: transparent
}
#colonne-intro-complement{
    background: $gris-clair;
    @include arrondis (5px);
    margin: em(5px) 0;
}
#colonne-infos-vdl{
    margin: em(5px) 0;
}