// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|     FRONTPAGE  VERTICAL DROIT        |
|--------------------------------------*/

  //@include breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include breakpoint ($tablet){}

//Code imbriqué à 100%
/*-------------STYLE POUR CONTENU HOMEPAGE -----------------*/
body .conteneur {
    background:transparent image-url ("bg_content_etoile.gif") no-repeat left bottom;
       
    
    .HPGauche{
        /*Table pour la vue filtre dyn sur tid - ajouter classe sur le bloc via blockclass*/
        .table-bloc-vdl-liste-hp,.table-bloc-vdl-actu-hp{
           table{
               max-width: 100%;
               margin: 0 auto;
               border: 0;
               width: 98%;
            }
            p{}
            tr{margin: em(3px);}
            td{
                background: white;
                border: 0;
                margin: em(2px) 0;
                padding: em(5px);
                display: block;
                border-bottom: em(1px) solid $bleu-turquoise;
                &:hover{background: $gris-clair-moyen;}
            }
            a{
                color: $violet;
                text-decoration: none;
                font-weight: bold;
                font-size:small;
                &:hover{
                    text-decoration: underline;
                    color: white;
                }
            
            }
                h3{
                    color: $bleu-turquoise;
                    display: block;
                    font-family: $AristaFont;
                    font-size: em(18px);
                    margin: 0 auto;
                    padding: em(10px);
                    text-align: center;

                }
        }

            .table-bloc-vdl-liste-hp {
                thead th{
                    border-bottom: em(3px) solid $orange-fonce;
                }
                tbody{}
                span.date-display-single{
                    text-align: right;
                    float: right;
                    font-style: italic;
                }
            }
            .table-bloc-vdl-actu-hp 
            {
                thead th{border-bottom: em(3px) solid $violet;}
            }
            #block-views-vdl_global-block_7 h3{color: $rose-fushia;}
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        aside.DiapoDroiteHP {
            img{
                @include adaptable-img;
                @include img-centered;
            }
        }
    }
    
}
@include breakpoint($desktop) {/*    //Dimensions pour les pc*/
    //Taille du conteneur du groupe    

    .HPGauche{
        
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        
    }
}
  
    @include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/
        //Taille du conteneur du groupe
    .HPGauche{
        
        .HPGauche1{}
        .HPGauche2{}
        .HPGauche3{}
    }
    .HPDiapoVerticalDroite{
        } 
        
}
/****************/
.HPGauche1,.HPGauche2,.HPGauche3 {

    background: none;
    color: black;
    ul li {
        list-style: square;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

}
