// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}



.vdl-galerie-image .gallery-slides
{
    img{@include adaptable-img;}
}
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    .titre-flex{order:0;}
    #bloc-gauche-pole{}
    #bloc-centre-pole {}
    #bloc-droit-pole {}
    @include breakpoint ($desktop){
        .titre-flex{order:0;max-height: 4em;}
        #bloc-gauche-pole{order:1;}
        #bloc-centre-pole {order:2;}
        #bloc-droit-pole {order:3;}
    }
}
/*######-------- ||| BORDURES ||| --------######*/
body .conteneur{
    @include breakpoint ($desktop){
        
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_page_pole{
    text-align: center;
      font-family: $AristaFont;
      font-size: x-large;
      color: $violet;
      //majuscule via jquery_new ligne 200
}
/*-----------------------------------------------
*********  PAGE POLE FORMATION GLOBALE ***********
------------------------------------------------
*/
/*----------- STYLES POUR PAGE POLE ------------------*/

h3.block-title{
    font-size: larger;
    margin: em(10px) em(25px);
    display: block;
    width: auto;
    font-family: $AristaFont;
}
.page-pole{
    
    p{
        line-height: 1.5em;
        margin: 0;
        padding: 0;
    }
    tr{
        background: 0;
    }
    .view-content h3{
        color: $violet;
        text-decoration: none;
        padding: em(2px);

    }
    .views-field-title {
        font-size: small;

    }
    .views-field-title a{
        color: $vert;
        text-decoration: none;
        padding: em(2px);
        &:hover{
            background: $vert;
            color: white;
        }
    }


}

#block-views-liste_formation_poles-block_1, #block-views-liste_formation_poles-block_2, #block-views-liste_formation_poles-block_3 {
    padding: 13em 0 2em;
}
#block-views-liste_formation_poles-block_2 h3.block-title{
    color: $bleu-turquoise;
}
#block-views-liste_formation_poles-block_1 h3.block-title{
    color: $vert;
}
#block-views-liste_formation_poles-block_3 h3.block-title{
    color: $violet;
}

#block-views-liste_formation_poles-block_1{
/*   background: white url('../images/bg_pole_enseignement_pro.jpg') no-repeat top left;*/
background: white url('../images/bg_pole_tpl.jpg') no-repeat top left;
background-size: contain;
}
#block-views-liste_formation_poles-block_2{
/*     background: white url('../images/bg_pole_enseignement_gen_techno.jpg') no-repeat left 1px;*/
     background: white url('../images/bg_pole_sp.jpg') no-repeat left em(1px);
     background-size: contain;
}
#block-views-liste_formation_poles-block_3{
/*     background: white url('../images/bg_pole_enseignement_sup.jpg') no-repeat top left;*/
     background: white url('../images/bg_pole_ga.jpg') no-repeat left em(1px);
     background-size: contain;
}
.bloc-vue-enseignement-pro, .bloc-vue-enseignement-general,.bloc-vue-enseignement-superieur{
    width: auto;
    display: block;
    padding: em(15px) em(20px);

}
/*H3 de couleur differente selon pole*/
.bloc-vue-enseignement-general h3, .bloc-vue-enseignement-superieur h3,.bloc-vue-enseignement-pro h3{
    font-family: $AristaFont;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background: white;
}
/*TABLE PAGE FORMATION PAR POLES*/
.table_bloc_form_pole{
    width: 98%;
}

.table_bloc_form_pole td{
    margin: em(2px) 0;
    padding: em(4px) 0;
    border-bottom: em(1px) solid #94127F;
}