// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM              |
|               NODE.TPL                     |
|       CONTACT WEBFORM            |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.CLASS_NAME{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-1.contact{
            @include border-R-violet;
        }
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
#colonne-1.contact{
    table,tbody,tr,td,form,input[type="text"],input[type="email"]{
          width: 98%;display: block;
      }
      tbody{
          border: 0;
      }
    
}
/*----------------------------------------
£££££ FORMULAIRE DOSSIERS INSCRIPTIONS 2015.02.25 £££
------------------------------------------*/
.bloc-dossier-prepas{}
.bloc-dossier-prepas h3.block-title, .bloc-dossier-initial h3.block-title
{width: auto;}
#pageLycee_col_G2 .bloc-dossier-prepas h3.block-title{color:#E3007C;}
#pageLycee_col_G2 .bloc-dossier-initial h3.block-title{color:#02A7D5;}

.dossier-prepas{}
.dossier-prepas table, .dossier-initial table{margin: 1.5em;}
.dossier-initial{}

/*----------------------------------------
£££££ WEBFORM NODE 2015.07.09 £££
------------------------------------------*/
#colonne-2.webform {
    img, iframe{
        border: 0.15em solid;padding: 0.2em;
    }
    img{border-color: $bleu-turquoise;}
    iframe{border-color: $violet;}
    a{text-decoration: none;color: $violet;
      &:hover{text-decoration: underline;}
    }

}
